*{
    padding: 0%;
    margin: 0%;
}
body
{
    width: 100%;
    margin: auto;
}
main
{
    width: 100%;
    margin: auto;
}
.h_1
{
    background-color: #252323;
    width: 100%;
}
.part_sup
{
    width: 980px;
    margin: auto;
    height: 60px;
}
.logo
{
    width: 75%;
    height: 60px;
    float: left;
}
.logo img
{
    margin-top: 17px;
}
.logos_contatos
{
    width: 25%;
    float: right;
    height: 60px;
}
.logos_contatos a img
{
    margin-top: 17px;
    margin-left: 19px;
    float: right;
}
.logos_contatos ul li
{
    list-style: none;
    display: inline;
    padding: 10px;
}
.h_2
{
    background-color: #ffffff;
    border-bottom: 5px solid #efefef
}
.part_inf
{
    width: 980px;
    margin: auto;
    height: 80px;

}
.menu
{
    width: 75%;
    height: 80px;
    float: left;
}
.menu nav ul li
{
    display: inline-block;
    height: 46px;
    padding-top: 34px;

}
.menu nav ul li a
{
    font-family:"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
    color: #8b8b8b;
    margin-right: 30px;
}
.menu nav ul li a:hover
{
    color: #00bac6;

}
.menu nav ul li:hover
{
    border-bottom: 4px solid #00bac6;
}
.box
{
    width: 25%;
    height: 80px;
    float: right;

}
.box input
{
    margin-top: 17px;
    width: 188px;
    height: 33px;
    float: right;
    background-image: url('../imagens/icon_busca.png');  
    background-repeat: no-repeat;  
    background-position: 95%;
}
::placeholder
{
    color: #b2b2b2;
    padding:  15px;
}
.banner img
{
    width: 100%;
}
.content
{
    height: 100%;
    width: 980px;
    margin: auto;
    position: relative;
}
.text img
{
    margin-top: 30px;
    width: 584px;
    position: relative;
    left: 160px;
}
.text p
{
    color: #9a9a9a;
    text-align: center;
    margin-top: 20px;
}
.imgs{
    padding-top: 70px;
}
.imgs ul
{
    display: flex;
}
.imgs ul li
{
    list-style: none;
}
.img_pc
{
    padding-left: 50px;
}
.img_pc img
{
    margin-left: 85px;
}
.img_pc h2
{
    text-align: center;
    font-size: 30px;
}
.img_pc p
{
    text-align: center;
}
.img_pincel
{
    padding-left: 50px;
}
.img_pincel img
{
    margin-left: 85px;
    margin-top: 40px;
}
.img_pincel h2
{
    text-align: center;
    font-size: 30px;
}
.img_pincel p
{
    text-align: center;
}
.img_photo
{
    padding-left: 50px;
}
.img_photo img
{
    margin-left: 70px;
}
.img_photo h2
{
    text-align: center;
    font-size: 30px;
}
.img_photo p
{
    text-align: center;
}
.section_2
{
    background-image: url(../imagens/fundo_tringular.png);
}
.content_2
{
    width: 980px;
    margin: 0 auto;
}
.menu_imgs
{
    padding-top: 100px;
}
.menu_imgs ul li
{
    display: inline-block;
}
