*{
    padding: 0%;
    margin: 0%;
}
main
{
    width: 100%;
    margin: auto;
}
.h_1
{
    background-color: #252323;
    width: 100%;
}
.part_sup
{
    width: 980px;
    margin: auto;
    height: 60px;
}
.logo
{
    width: 75%;
    height: 60px;
    float: left;
}
.logo img
{
    margin-top: 17px;
}
.logos_contatos, .logos_contatos_2
{
    width: 25%;
    float: right;
    height: 60px;
}
.logos_contatos a img, .logos_contatos_2 a img
{
    margin-top: 17px;
    margin-left: 19px;
    float: right;
}
.logos_contatos ul li, .logos_contatos_2 ul li
{
    list-style: none;
    display: inline;
    padding: 10px;
}
.h_2
{
    background-color: #ffffff;
    border-bottom: 5px solid #efefef
}
.part_inf
{
    width: 980px;
    margin: auto;
    height: 80px;

}
.menu
{
    width: 75%;
    height: 80px;
    float: left;
}
.menu nav ul li
{
    display: inline-block;
    height: 46px;
    padding-top: 34px;

}
.menu nav ul li a
{
    font-family:"Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
    color: #8b8b8b;
    margin-right: 30px;
}
.menu nav ul li a:hover
{
    color: #00bac6;

}
.menu nav ul li:hover
{
    border-bottom: 4px solid #00bac6;
}
.box
{
    width: 25%;
    height: 80px;
    float: right;

}
.box input
{
    margin-top: 17px;
    width: 188px;
    height: 33px;
    float: right;
    background-image: url('../imagens/icon_busca.png');  
    background-repeat: no-repeat;  
    background-position: 95%;
}
::placeholder
{
    color: #b2b2b2;
    padding:  15px;
}
.banner img
{
    width: 100%;
}
.content
{
    height: 100%;
    width: 980px;
    margin: auto;
    position: relative;
}
.text img
{
    margin-top: 30px;
    width: 584px;
    position: relative;
    left: 200px;
}
.text p
{
    color: #9a9a9a;
    text-align: center;
    margin-top: 20px;
}
.imgs{
    padding-top: 70px;
}
.imgs ul
{
    display: flex;
}
.imgs ul li
{
    list-style: none;
}
.img_pc
{
    padding-left: 50px;
}
.img_pc img
{
    margin-left: 85px;
}
.img_pc h2
{
    text-align: center;
    font-size: 30px;
    color: #9a9a9a;
}
.img_pc p
{
    text-align: center;
    color: #9a9a9a; 
}
.img_pincel
{
    padding-left: 50px;
}
.img_pincel img
{
    margin-left: 85px;
    margin-top: 40px;
}
.img_pincel h2
{
    text-align: center;
    font-size: 30px;
    color: #9a9a9a;
}
.img_pincel p
{
    text-align: center;
    color: #9a9a9a;    
}
.img_photo
{
    padding-left: 50px;
}
.img_photo img
{
    margin-left: 70px;
}
.img_photo h2
{
    text-align: center;
    font-size: 30px;
    color: #9a9a9a;
}
.img_photo p
{
    text-align: center;
    color: #9a9a9a; 
}
span{
    color: #7b7b7b;
}
.section_2
{
    background-image: url(../imagens/fundo_tringular.png);
    background-repeat: no-repeat;
}
.content_2
{
    width: 980px;
    margin: auto;
}
.menu_imgs
{
    padding-top: 100px;
}
.menu_imgs ul li{
    display: inline-block;
    margin-left: 14px;
}
.content_3
{
    width: 980px;
    margin: auto;
}
.imgs_3{
    height: 175px;
}
.logos_inf ul{
    display: flex;
}
.logos_inf ul li{
    list-style: none;
}

.logos_inf ul li img{
    padding-top: 100px;
}
.one{
    width: 245px;
}
.two{
    width: 245px;
}
.two img{
    margin-left: 15px;
}
.three{
    width: 245px;
}
.three img{
    margin-left: 45px;
    margin-top: 30px;
}
.four{
    width: 245px;
}
.four img{
    float: right;
    margin-right: 10px;
}
.part_1
{
    background-color: #504d4d;
    width: 100%;
}
.content_footer, .content_footer_2{
    width: 980px;
    margin: auto;
}
.content_footer ul{
    display: flex;
}
.content_footer ul li{
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    width: 245px;
}
hr{
    margin-top: 30px;
}
.populr_post{
    float: left;
}
.populr_post p{
    padding-top: 20px;
}
.populr_post img{
    padding-top: 10px;
}
.populr_post time{
    color: #78797a;
}
.tags{
    margin-left: 50px;
}
.tags p, .populr_post p, .little p, .get p{
    text-align: justify;
    color: #a2a2a2;
}
.little{
    margin-left: 50px;
}
.get{
    margin-left: 50px;
}
.tags h3, .populr_post h3, .little h3, .get h3{
    color: #f5f5f5;
}
.tags span{
    color: #f5f5f5;
    font-size: 14pt;
}
.get span{
    color: #a2a2a2;
}
.get img{
    padding-top: 10px;
}
.part_2
{
    background-color: #252323;
    width: 100%;
    height: 88px;
}
.info{
    padding-top: 40px;
    color: #a2a2a2;
    width: 75%;
    float: left;
}
.logos_contatos_2 a img
{
    padding-top: 15px;
    margin-left: 19px;
    float: right;
}
.resolution{
    width: 1346px;
}